
<div class="container">
   
    <div class="columns">
        <div class="column is-6">
            <div class="logo"><a href='<%= root_url %>'> <%= image_tag 'ps_logo.png' %></a></div>
        </div>
        <div class="column is-6">
            <section class="section">
                <h2 class="title">Geradores de Energia</h2>
            </section>
        </div>

    </div>
   
</div>

 