<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <h1 class="title">
                    Recomendar um Gerador
                </h1>
                <h3 class="subtitle">
                    Preencha o formulário abaixo para recomendar um gerador
                </h3>
            </section>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">

                <%= render('shared/notifications') %> 
                <%= render 'power_generators/form', generator: @power_generator %>

            </div>
        </div>
    </div>
</section>