@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

 
 

// Set your brand colors
$purple: #8A4D76;
$prime: #F29B06;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
 
$primary: $prime;
$link: $prime;
 

@import "../node_modules/bulma/bulma.sass";